spring:
  application:
    name: objectmorph-auth
  security:
    oauth2:
      client:
        registration:
          keycloak:
            client-id: objectmorph-client
            client-secret: ${CLIENT_SECRET}
            scope: openid,profile,email
            redirect-uri: http://objectmorph-auth-service:8080/login/oauth2/code/keycloak
        provider:
          keycloak:
            issuer-uri: "http://keycloak:8080/realms/objectmorph-realm"
      resourceserver:
        jwt:
          issuer-uri: ${ISSUER_URI}
          jwk-set-uri: ${JWK_SET_URI}
          audiences: objectmorph-auth
  cloud:
    openfeign:
      client:
        config:
          objectmorph-app-client:
            url: ${OBJECTMORPH_SERVICE_URL:http://localhost:8080}
logging:
  level:
    root: INFO
    # General Spring Security logging
    org:
      springframework:
        security:
          oauth2:
            server:
              resource:
                authentication: DEBUG
          jwt: DEBUG
          web:
            FilterChainProxy: DEBUG
          client:
            RestTemplate: DEBUG
      keycloak: DEBUG
  pattern:
    console: "[%level] %d{yyyy-MM-dd HH:mm:ss} - %logger{1.} - %msg%n"
server:
  port: 8080
  max-http-request-header-size: 65000
  servlet:
    session:
      timeout: 600s
